<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="Nopackage" >
        <classes>
            <class name="loginEx.GoogleSearchTest">
                <methods>
                    <include name="test001"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Regression1">
        <classes>
            <class name="day2.Class1">
                <methods>
                    <include name="testDropdown"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
